body{
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
body::after{
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("img/Body.jpg") ;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}

input{
    height: 40px;
    width: 300px;
    text-align: center;
    border: none;
    margin: 20px;
    font-size: 2vw;
}

.container{
text-align: center;
border: 10px solid 	#98fb98;
border-radius: 20px; 
font-family: 'Nanum Pen Script', cursive;
}

.first-title{
    color: blue;
    font-weight: 700;
    font-size: 50px;
}

.death{
    color: red;
    font-weight: 700;
    font-size:40px;
}


.btn-go{
    border-radius: 500px; 
    background-color: #2de26d;
    border: none;
}
.btn-go:hover{
    transform: scale(1.3);
}
    

.btn-reset{
    border-radius: 500px;
    background-color:#ffc107;
    border: none;
}
.btn-reset:hover{
    transform: scale(1.3);
}

.button-style{
    height: 30px;
     width: 60px;
     margin: 10px;
     font-size: 25px;
     
}

@media screen and (max-width: 48rem) {
    input{
        font-size: 5vw;
        max-width: 500px;
        margin-right: 0px;
        font-size: 8vw;
    }
    .main-img {
        width: 60vw;
      }
}